rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // events コレクション
    match /events/{eventId} {
      allow read: if true;

      allow create: if request.resource.data.keys().hasAll(['title', 'candidates'])
                    && request.resource.data.title is string
                    && request.resource.data.candidates is list;

      allow update: if request.resource.data.keys().hasAll(['title', 'candidates'])
                    && request.resource.data.title is string
                    && request.resource.data.candidates is list;

      allow delete: if false;

      // answers サブコレクション
      match /answers/{answerId} {
        allow read: if true;

        allow create: if request.resource.data.keys().hasAny(['name'])
                      && request.resource.data.name is string;

        allow update: if request.resource.data.keys().hasAny(['name'])
                      && request.resource.data.name is string;

        allow delete: if true;
      }
    }
  }
}
